<section class="education-section">
  <div class="container">
    <h2 class="section-title">Education</h2>
    <p class="section-subtitle">Academic Journey & Achievements</p>
    
    <div class="education-grid">
      <div *ngFor="let edu of education; let i = index" class="education-item">
        <p-card class="education-card">
          <ng-template pTemplate="header">
            <div class="education-header">
              <div class="degree-info">
                <h3 class="degree">{{ getDegreeWithField(edu) }}</h3>
                <div class="institution-info">
                  <img *ngIf="edu.logo" [src]="edu.logo" [alt]="edu.institution + ' logo'" class="institution-logo">
                  <p class="institution">{{ edu.institution }}</p>
                </div>
                <p class="location">{{ edu.location }}</p>
                <p class="year-range">{{ getYearRange(edu) }}</p>
              </div>
              <div class="gpa" *ngIf="edu.gpa">
                <span class="gpa-label">GPA:</span>
                <span class="gpa-value">{{ edu.gpa }}</span>
              </div>
            </div>
          </ng-template>
          
          <div class="education-content">
            <div class="thesis-section" *ngIf="edu.thesis">
              <div class="thesis-info">
                <div class="thesis-thumbnail" *ngIf="edu.thesisThumbnail">
                  <img [src]="edu.thesisThumbnail" [alt]="'Thesis: ' + edu.thesis" class="thumbnail-image">
                </div>
                <div class="thesis-details">
                  <h4>Thesis</h4>
                  <p class="thesis-title">{{ edu.thesis }}</p>
                  <p class="advisor" *ngIf="edu.advisor">Advisor: {{ edu.advisor }}</p>
                  <p-button 
                    *ngIf="edu.thesisUrl" 
                    label="Read Thesis" 
                    icon="pi pi-external-link" 
                    size="small"
                    severity="secondary"
                    [text]="true"
                    class="thesis-button"
                    (click)="openThesis(edu.thesisUrl)">
                  </p-button>
                </div>
              </div>
            </div>
            
            <div class="courses-section" *ngIf="edu.courses.length > 0">
              <h4>Relevant Coursework</h4>
              <div class="courses-list">
                <p-tag 
                  *ngFor="let course of edu.courses" 
                  [value]="course"
                  severity="secondary"
                  class="course-tag">
                </p-tag>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</section>
